
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@import "tailwindcss";
*{

  font-family: "Open Sans", serif;
  
}
body{
  width: 100%;
  margin: 0 auto;
  padding: 0%;
  box-sizing: border-box;
}


